<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Quiz</title>
</head>
<body>
    <nav>
        <div class="nav">

            <% if(user){ %>

                <h1>Welcome, <em><%= user.username %></em></h1>
                
            <% } else{%>

            <h1>Quiz</h1>

            <% } %>

        <ul>
            <a href="/"> <li>Home</li> </a>

            <% if(!user){ %>

            <a href="/login"> <li>Login</li> </a>
            <a href="/register"> <li>Register</li> </a>

            <% } else { %>

                <a href="/logout" class="logout-button">Logout</a>

            <% } %>

        </ul>
        </div>
    </nav>

    <%- body %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.3/axios.min.js" integrity="sha512-wS6VWtjvRcylhyoArkahZUkzZFeKB7ch/MHukprGSh1XIidNvHG1rxPhyFnL73M0FC1YXPIXLRDAoOyRJNni/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/app.js"></script>
    
</body>
</html>