<section class="quiz-section">
    
    <div>

        <% questions.forEach(question=>{    %> 

            <h4>Q<%= question.qid %>. <%= question.ques %> </h4>

            <% question.options.forEach(option=>{   %> 

                
                <p> <input type="checkbox" name="option" id=""> <%= option %> </p>

            <% }) %> 

        <% }) %> 
        

    </div>

</section>