@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    text-align: center;
    min-height: 100vh;
    background-color: #fdfaff;
}

/**************** Navbar *****************/


.nav{
    width: 80%;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    color: #fff;
}

.nav a{
    text-decoration: none;
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul li{
    margin-left: 3rem;
    color: #6A5ACD;
}

.nav ul li:hover{
    color: black;
}

.nav h1{
    color: #6A5ACD;
}

.logout-button {
    display: inline-block;
    padding: 0.3rem 0.8rem;
    background-color: #ff5e5e;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    font-size: 18px;
    margin-left: 2rem;
  }
  
  .logout-button:hover {
    background-color: #e25a5a;
  }
  

/* home */



.quiz-main-wrap{
    max-width: 80%;
    margin: auto;
    padding: 1rem;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.quiz{
    width: 20rem;
    height: 12rem;
    background-color: #6A5ACD;
    color: #fff;
    border-radius: 25px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

.quiz button{
    padding: 0.5rem 2rem;
    width: 10rem;
    margin: 0 auto;
    border: 2px solid #fff;
    color: #fff;
    background: none;
    border-radius: 25px;
    cursor: pointer;
}
.quiz button:hover{
    background-color: #fff;
    color: #6A5ACD;
}

.quiz p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
}

.toughness{
    margin: 0 auto;
    background-color: #fff;
    border-radius: 25px;
    color: #6A5ACD;
    padding: 0.2rem 0.5rem;

}
.toughness p{
    font-size: 0.8rem;
}


/* Quiz page */

.quiz-section{
    width: 80%;
    margin: auto;
    text-align: left;
}

.quiz-section h4{
    margin: 1.3rem 0;
}

.radio-btn{
    width: 1rem;
    height: 1rem;
    vertical-align: middle
}

.option-div{
    margin: 0.8rem 0;
}

.counter-h1{
    text-align: right;
}

#quiz-wrapper{
    visibility: visible;
}

/** Timeout overlay **/

#timeOutWarningOverlay{
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #6A5ACD;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: #fff;
    
}

.expire-btns{
    width: 10rem;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.expire-btns button{
    padding: 0.5rem 1rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}


/* register page */

.log-reg-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
}

.log-reg-wrapper, .login-wrapper{
    width: 23rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.log-reg-wrapper h2{
    margin-bottom: 2rem;
    color: #6A5ACD;
}

.log-reg-wrapper input{
    outline: none;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(230, 230, 230);
}

.reg-btn-div{
    width: 100%;
    text-align: right;
}

.log-reg-wrapper button{
    margin-top: 1rem;
    background-color: #6A5ACD; 
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s ease-in-out;
}

.log-reg-wrapper button:hover {
    background-color: #6A00FF;
  }


  /* results */

  .results-wrapper{
    width: 50%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin: auto;
  }